@import "var.scss";
@import "global.scss";

.login {
  display: flex;
  justify-content: center;
  .loginUp {
    background-color: $color-white;
    border-radius: 10px;
    width: 350px;
    margin-top: 100px;
    padding: 30px 30px;
    .loginUp-head {
      text-align: center;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }
    .login-btn {
      @include layout(space-between);
      button {
        display: block;
        width: 50%;
      }
    }
  }
}
